body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .app {
    text-align: center;
    border: 1px solid #dd5555;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
  }
  input {
    padding: 8px;
    width: 70%;
  }
  button {
    padding: 8px 12px;
  }
  #weatherResult {
    margin-top: 20px;
  }
  .weather-card {
    background: #7ffcd5;
    padding: 15px;
    border-radius: 6px;
  }
  